extends ../../layouts/default.pug

block main 
    h1(class="mb-4") Chi tiết sản phẩm 
    if(product.title)
        div(class="mb-4") Tên sản phẩm: <b>#{product.title}</b>
    
    if(product.price)
        div(class="mb-4") Giá: <b>#{product.price}$</b>
    if(product.discountPercentage)
        div(class="mb-4") Giảm Giá:  <b>#{product.discountPercentage}%</b>
    if(product.stock)
        div(class="mb-4") Số lượng: <b>#{product.stock}</b>
    if(product.createdAt)
        div(class="mb-4") Ngày tạo: <b>#{Date(product.createdAt)}</b>
    if(product.thumbnail)
        img(src=product.thumbnail style="width:100px")
    if(product.description)
        div(class="mb-4") Mô tả: <b>!{product.description}</b>
    if(product.position)
        div(class="mb-4") Vị trí: <b>#{product.position}</b>
    
    if(product.status) 
        if(product.status == "inactive")
            div() Trạng thái:
                a(class="badge badge-danger text-white")  Dừng hoạt động
        else
            div() Trạng thái:
                a(class="badge badge-success text-white") Hoạt động
    

    a(class="btn btn-warning" 
    href=`${prefixAdmin}/products/edit/${product.id}`
    ) Chỉnh sửa

    script(src="/admin/js/product.js") 