extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug
block main
    
    if(role.permission.includes("products_edit")) 
    +alert-error(5000)
    +alert-success(3000)
    h1(class="mb-4") #{pageTitle}
    form(action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH`
      method="POST"
      id="form-edit-product"
      enctype="multipart/form-data"
      form-create
      )
        div(class="form-group")
            label(for="title") Tiêu Đề:
            input(class="form-control" type="text" id="title" name="title" value=product.title)
        div(class="form-group")
            label(for="product_category_id") Danh mục :
            //- input(class="form-control" type="text" id="parent_id" name="parent_id" )
            select(
                name="product_category_id"
                id="product_category_id"
                class="form-control"
                    ) 
                option(value="") ---Chọn danh mục ---
                if(category)
                    +select-tree(category,1,product.product_category_id)   
        div(class="form-group")
            label(for="description") Mô tả:
            textarea(class="form-control textarea-mce" id="description" rows="5" name="description" ) #{product.description}
        div(class="form-group")
            label(for="price") Giá:
            input(class="form-control" type="number" id="price" value=product.price min="0" name="price" )
        div(class="form-group")
            label(for="discountPercentage") Giảm giá:
            input(class="form-control" type="number" id="discountPercentage" value=product.discountPercentage min="0" name="discountPercentage" )
        div(class="form-group")
            label(for="stock") Số Lượng:
            input(class="form-control" type="number" id="stock" value=product.stock min="0" name="stock" required) 
        div(class="form-group" upload-image) 
            label(for="thumbnail") Ảnh:
            input(type="file" 
                id="thumbnail" 
                name="thumbnail" 
                accept="image/*" 
                class="form-control-file"
                
                upload-image-input)
            img(src=product.thumbnail  class="image-preview" upload-image-preview)
        div(class="form-group")
            button(class="btn btn-danger" button-delete) Xoá ảnh
            
        div(class="form-group")
            label(for="position") Vị trí:
            input(class="form-control" type="number" placeholder="tự động tăng" id="position" name="position" value=product.position )
        div(class="form-group form-check form-check-inline")
            input(class="form-check-input" type="radio" id="statusActive" name="status" value="active" checked=(product.status == "active" ?true:false))
            label.form-check-label(for="statusActive") Hoạt Động
            input(class="form-check-input" type="radio" id="statusInActive" name="status" value="inactive" checked=(product.status=="inactive"?true:false))
            label.form-check-label(for="statusInActive") Dừng Hoạt Động
        
        div(class="form-group")
            button.btn.btn-primary(type="submit") Sửa sản phẩm
    
   
