include ../mixins/sub-menu.pug

header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src="/images/hm.jpg", alt="logo", class="logo")
      .col-5 
        form(
          action= "/search"
          method="GET"
        )
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder= "Nhập từ khoá..."
              class="form-control"
              name= "keyword"
              value=keyword
            )
            button(
              class="btn btn-primary"
              type="submit"
            ) Tìm 
      .col-4
        .inner-menu
          ul
            li
              a(href="/") Trang Chủ
            li.sub-menu
              a(href="/products") Sản phẩm
              -const pathProduct = "/products";
                +sub-menu(layoutProductCategory,pathProduct)
              
              
              
              
              
              
              
              
              
              
              
              
              //- ul
              //-   li
              //-     a(href="/products/slug-1") Mục 1
              //-     ul
              //-       li
              //-         a(href="/products/slug-1-1") Mục 1-1
              //-       li
              //-         a(href="/products/slug-1-2") Mục 1-2
              //-       li
              //-         a(href="/products/slug-1-1-1") Mục 1-1-1
              //-       li
              //-         a(href="/products/slug-1-1-2") Mục 1-1-2
              //-   li
              //-     a(href="/products/slug-2") Mục 2
              //-     ul
              //-       li
              //-         a(href="/products/slug-2-1") Mục 2-1
              //-       li
              //-         a(href="/products/slug-2-2") Mục 2-2
