include ../mixins/sub-menu.pug

header.header
  
  .container
    .row.align-items-center
      .col-2
        .inner-logo
          a(href="/")
            img(src=settingGeneral.logo, alt=settingGeneral.websiteName, class="logo")
      .col-3 
        form(
          action= "/search"
          method="GET"
        )
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder= "Nhập từ khoá..."
              class="form-control"
              name= "keyword"
              value=keyword
            )
            button(
              class="btn btn-primary"
              type="submit"
            ) Tìm 
      .col-7
        .inner-menu
          ul
            li
              a(href="/") Trang Chủ
            li.sub-menu
              a(href="/products") Sản phẩm
              -const pathProduct = "/products";
                +sub-menu(layoutProductCategory,pathProduct)
            li
              a(href="/cart") Giỏ hàng(#{miniCart ? miniCart.totalQuantity: 0}) 
              //-Check cho các tình huống chưa có cartId từ lúc đăng nhập vào trang web lần đầu tiên 
            if(!user)
              li
                a(href="/user/register") Đăng Ký 
              li
                a(href="/user/login") Đăng Nhập 
            else 
              li
                a(href="/user/info") #{user.fullname}
              li
                a(href="/user/logout") Đăng Xuất
            
    
              //- ul
              //-   li
              //-     a(href="/products/slug-1") Mục 1
              //-     ul
              //-       li
              //-         a(href="/products/slug-1-1") Mục 1-1
              //-       li
              //-         a(href="/products/slug-1-2") Mục 1-2
              //-       li
              //-         a(href="/products/slug-1-1-1") Mục 1-1-1
              //-       li
              //-         a(href="/products/slug-1-1-2") Mục 1-1-2
              //-   li
              //-     a(href="/products/slug-2") Mục 2
              //-     ul
              //-       li
              //-         a(href="/products/slug-2-1") Mục 2-1
              //-       li
              //-         a(href="/products/slug-2-2") Mục 2-2
