extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug
block main
    
    +alert-error(5000)
    +alert-success(5000)
    h1(class="mb-4") #{pageTitle}
    form(action=`${prefixAdmin}/products-category/edit/${data.id}?_method=PATCH`
      method="POST"
      enctype="multipart/form-data"
      )
        div(class="form-group")
            label(for="title") Tiêu Đề:
            input(class="form-control" 
            type="text" 
            id="title" 
            name="title"
            value=data.title)

        div(class="form-group")
            label(for="parent_id") Danh mục cha:
            //- input(class="form-control" type="text" id="parent_id" name="parent_id" )
            select(
                name="parent_id"
                id="parent_id"
                class="form-control"
                    ) 
                option(value="") ---Chọn danh mục cha---
                if(records)
                    +select-tree(records,1,data.parent_id)
        
        div(class="form-group")
            label(for="description") Mô tả:
            textarea(class="form-control textarea-mce" 
                id="description" 
                rows="5" 
                name="description"
                ) #{data.description}

        div(class="form-group" upload-image) 
            label(for="thumbnail") Ảnh:
            input(type="file" 
                id="thumbnail" 
                name="thumbnail" 
                accept="image/*" 
                class="form-control-file"           
                upload-image-input)
            img(src=data.thumbnail class="image-preview" upload-image-preview)
        div(class="form-group")
            button(class="btn btn-danger" button-delete) Xoá ảnh
            
        div(class="form-group")
            label(for="position") Vị trí:
            input(class="form-control" type="number" placeholder="tự động tăng" id="position" name="position" value=data.position)
        div(class="form-group form-check form-check-inline")
            input(class="form-check-input" type="radio" id="statusActive" name="status" value="active" checked=(data.status == "active" ? true : false))
            label.form-check-label(for="statusActive") Hoạt Động
            input(class="form-check-input" type="radio" id="statusInActive" name="status" value="inactive" checked=(data.status == "inactive" ? true : false))
            label.form-check-label(for="statusInActive") Dừng Hoạt Động
        
        div(class="form-group")
            button.btn.btn-primary(type="submit") Chỉnh sửa sản phẩm
    
   
