mixin sort()
    div(sort)
        select(
            class="form-control"
            name= "sort"
            style="width:150px"
            sort-select
        )
            option(value="position-desc") Ví trí giảm dần 
            option(value="position-asc") Vị trí tăng dần
            option(value="price-desc")  Giá giảm dần
            option(value="price-asc" selected=true)   Giá tăng dần 
            option(value="title-desc")  Tiêu Đề A-Z
            option(value="title-asc")  Tiêu Đề Z-A
        button(
            class="btn btn-danger mt-2"
            sort-clear
            ) clear