mixin sort()
    .d-flex.align-items-center
        select(
            class="form-control me-2" 
            name="sort"
            style="width:150px"
            sort-select
        )
            option(value="position-desc") Vị trí giảm dần
            option(value="position-asc") Vị trí tăng dần
            option(value="price-desc") Giá giảm dần
            option(value="price-asc" selected=true) Giá tăng dần
            option(value="title-desc") Tiêu Đề A-Z
            option(value="title-asc") Tiêu Đề Z-A

        button(
            class="btn btn-danger"
            sort-clear
        ) Clear
