extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3
        .row 
            .col-12 
                +box-head("chat")
        .row
            .col-12 
                .chat 
                    //- .div #{chat}
                    .inner-body
                        each chat in chats
                            div(class=(chat.user_id == user.id ? "inner-outgoing" : "inner-incoming"))
                                if(chat.user_id != user.id)
                                    .inner-name #{chat.infoUser.fullname}
                                .inner-content #{chat.content}
                        //- .inner-outgoing 
                        //-     .inner-content bbbbb
                        //- .inner-incoming 
                        //-     .inner-name A
                        //-     .inner-content aaaaaa
                        
                        .inner-foot
                            form(
                                class="inner-form"
                                action= ""
                            )
                                input(
                                    type="text"
                                    name="content"
                                    placeholder="nhập nội dung..."
                                )
                                button
                                    i.fa-solid.fa-paper-plane