extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    h1 Cài Đặt Chung
    
    +alert-success(5000)
    +alert-error(5000)

    form(action = `${prefixAdmin}/settings/general?_method=PATCH`
    method = "post"
    enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="websiteName") Tên website
            input(
                type= "text"
                class= "form-control"
                id="websiteName"
                name ="websiteName"
            )

        div(class="form-group"
         upload-image)
            label(for="logo") logo
            input(
                type= "file"
                class= "form-control-file"
                id="logo"
                name ="logo"
                accept= "image/*"
                upload-image-input
            )
            img(
                src=""
                class="image-preview"
                upload-image-preview
            )
        div(class="form-group")
            button(class="btn btn-danger" button-delete) Xoá ảnh
        div(class="form-group")
            label(for="phone") Số Điện Thoại 
            input(
                type= "text"
                class= "form-control"
                id="phone"
                name ="phone"
            )
        div(class="form-group")
            label(for="email") Email 
            input(
                type= "email"
                class= "form-control"
                id="email"
                name ="email"
            )
        div(class="form-group")
            label(for="address") Địa chỉ
            input(
                type= "text"
                class= "form-control"
                id="address"
                name ="address"
            )
        div(class="form-group")
            label(for="copyright") Copyright
            input(
                type= "text"
                class= "form-control"
                id="copyright"
                name ="copyright"
            )
        button(
                class ="btn btn-primary"
                type = "submit"
            ) Cập Nhật
